.newtask,
.invalid {
  display: flex;
  align-items: center;
  margin-top: 12px;
  gap: 16px;
}
.newtask input,
.invalid input {
  display: inline-block;
  padding: 16px 24px 16px 8px;
  border-radius: 8px;
  border: 1px solid #d3d1d1;
  width: 80%;
  outline: 0;
}

.invalid input {
  border: 1px solid #b40e0e;
  background-color: #fddddd;
}

.invalid input:focus {
  border-color: #ff8800;
  background-color: #fbe8d2;
}

.invalid-paragraph {
  color: #b40e0e;
}

.button {
  border-radius: 8px;
  background-color: #5050ff;
  border: none;
  color: #fafcff;
  font-weight: bold;
  cursor: pointer;
  padding: 16px 32px;
}
